<footer>
  <ul>
    <li><a href="//mozilla.com"><img src="mozilla-logo.png"></a>
    <li><a href="//blog.mozilla.org">Blog</a>
    <li><a href="//mozilla.org/privacy">Privacy Policy</a>
    <li><a href="//mozilla.org/cookies">Cookies</a>
    <li><a href="//mozilla.org/legal">Legal Notices</a>
  </ul>
</footer>
